<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../resource/css/options.css">
    <link rel="stylesheet" href="../resource/css/BasicSet.css">
    <link rel="stylesheet" href="../resource/css/common.css">
    
  </head>

<body id="body" style=" overflow-y: auto; overflow-x: hidden; ">

  <script type="text/javascript"  src="../resource/js/jquery-1.12.4.js"></script>
  
  <script src="../scripts/options.js"></script>
  <script src="../scripts/history.js"></script>
  <script src="../scripts/setting.js"></script>

  <div id="menu" class="fl">
    <div class="menu-inner">
      <ul class="m_ul">
      </ul>
    </div>
  </div>
	
	<div id="container" class="container PdL50 H95p W95p">
	</div>
</body>


</html>

