<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../resource/css/popup.css">
    
  </head>
  <body>
    <table>
      <tbody>
        <tr>
          <td>
            <input type="text" id="searchTxt"/>
          </td>
        </tr>
        <tr>
          <td>
            <button id="searchByGoogle"><img src="../resource/images/google.svg"></img></button>
            <button id="searchByYoutube"><img src="../resource/images/youtube.svg"></img></button>
            <button id="searchBygitHub"><img src="../resource/images/github.svg"></img></button>
            <button id="searchByNaver"><img src="../resource/images/naver.png"></img></button>
            <button id="searchByDaum"><img src="../resource/images/daum.webp"></img></button>
          </td>
        </tr>
      </tbody>
    </table>

    
  </body>
</html>
<script src="../scripts/popup.js"></script>