<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../resource/css/popup.css">
    <script src="../resource/js/jquery-1.12.4.js"></script>
  </head>
  <body>
    <table>
      <tbody>
        <tr>
          <td>
            <div class="inputDiv">
              <input type="text" id="searchTxt" placeholder=""/>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <button id="searchByGoogle"><img src="../resource/images/google.svg"></img></button>
            <button id="searchByYoutube"><img src="../resource/images/youtube.svg"></img></button>
            <button id="searchBygitHub"><img src="../resource/images/github.svg"></img></button>
            <button id="searchByNaver"><img src="../resource/images/naver.png"></img></button>
            <button id="searchByDaum"><img src="../resource/images/daum.webp"></img></button>
            <button id="searchByYahoo"><img src="../resource/images/yahoo.jpeg"></img></button>
          </td>
        </tr>
        <tr>
          <td>
            <button id="goOption"><img src="../resource/images/setting.png">&nbsp;Setting</img></button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
<script src="../scripts/popup.js"></script>
