<div class="content">
  <div>
    <select id="settingSearchEngene">
      <option value="https://google.com"       value2="https://www.google.com/search?q="               value3="google" >google </option>
      <option value="https://www.naver.com"    value2="https://search.naver.com/search.naver?query="   value3="naver"  >naver  </option>
      <option value="https://search.yahoo.com" value2="https://search.yahoo.com/search?p="             value3="yahoo"  >yahoo  </option>
      <option value="https://www.youtube.com"  value2="https://www.youtube.com//results?search_query=" value3="youtube">youtube</option>
      <option value="https://github.com"       value2="https://github.com/search?q="                   value3="github" >github </option>
      <option value="https://www.daum.com"     value2="https://search.daum.net/search?w=tot&q="        value3="daum"   >daum   </option>
    </select>
  </div>

  <div class="radio-toolbar">
    <input type="radio" id="hisSettingY" class="hisSetting" name="settingEnroll"  value="Y" /><label for="hisSettingY">이력 남기기</label>
    <input type="radio" id="hisSettingN" class="hisSetting" name="settingEnroll"  value="N" /> <label for="hisSettingN">이력 안남기기</label>
  </div>

  <div class="wrapper">
    <input type="checkbox" id="switch" value="11">
    <label for="switch" class="switch_label">
      <span class="onf_btn"></span>
    </label>
  </div>

</div>
