<div class="content">
  <table>
    <tbody>
      <tr>
        <td>검색기록 저장</td>
        <td> 
          <div class="wrapper">
            <input type="checkbox" id="switch" >
            <label for="switch" class="switch_label">
              <span class="onf_btn"></span>
            </label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          기본 검색엔진 설정
        </td>
        <td>
          <select id="defaultEngene">
            <option value="https://google.com"       data-url="https://www.google.com/search?q="               data-type="google" >google </option>
            <option value="https://www.naver.com"    data-url="https://search.naver.com/search.naver?query="   data-type="naver"  >naver  </option>
            <option value="https://search.yahoo.com" data-url="https://search.yahoo.com/search?p="             data-type="yahoo"  >yahoo  </option>
            <option value="https://www.youtube.com"  data-url="https://www.youtube.com//results?search_query=" data-type="youtube">youtube</option>
            <option value="https://github.com"       data-url="https://github.com/search?q="                   data-type="github" >github </option>
            <option value="https://www.daum.com"     data-url="https://search.daum.net/search?w=tot&q="        data-type="daum"   >daum   </option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>



</div>
