<div>
  <div>
    <ul class="m_ul">
      <select id="settingSearchEngene">
        <option value="https://google.com" value2="https://www.google.com/search?q=" value3="google">google</option>
        <option value="https://www.naver.com" value2="https://search.naver.com/search.naver?query=" value3="naver">naver</option>
        <option value="https://search.yahoo.com" value2="https://search.yahoo.com/search?p=" value3="yahoo">yahoo</option>
        <option value="https://www.youtube.com" value2="https://www.youtube.com//results?search_query=" value3="youtube">youtube</option>
        <option value="https://github.com" value2="https://github.com/search?q=" value3="github">github</option>
        <option value="https://www.daum.com" value2="https://search.daum.net/search?w=tot&q=" value3="daum">daum</option>
   </select>
   </ul>
  </div>
  <div>
    <label><input class="hisSetting" name="settingEnroll" type="radio" value="Y" />이력 남기기</label>
    <label><input class="hisSetting" name="settingEnroll" type="radio" value="" />이력 안남기기</label>
  </div>
</div>